* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

/*All Navbar and Sidebar*/

.fixed {
  position: fixed;
  width: 100%;
  background-color: White;
  box-shadow: 0 8px 6px -6px #E5E6E5;
}

.navbar {
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navbar .logo {
  width: calc(15vw);
  float: left;
  text-decoration: none;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.navbar h1 {
  text-align: center;
  flex: 1 0 0;
}

.main {
  float: right;
  overflow: hidden;
  width: calc(15vw);
  text-align: right;
}

.main .dropbtn {
  font-size: 50px;
  border: none;
  outline: none;
  color: Black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-right: 10px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: Black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E5E6E5;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: White;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .closebtn:hover {
  color: #B01C2E;
}

.dropbtn:hover {
  cursor: pointer;
  color: #B01C2E;
}

/*End of Navbar Sidebar*/

.quotes {
  max-width: 100%;
  text-align: center;
}

#quote {
  font-size: 20px;
  color: #00cc00;
}

/*Start of writeups*/

.collapsible {
  color: Black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  background-color: #E5E6E5;
}

.active, .collapsible:hover {
  background-color: #B01C2E;
  color: White;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.content * {
  padding: 10px;
}

.content i {
  color: green;
}

.content h2 {
  color: #B01C2E;
}

/*End of writeups*/

/*Fluid Typography*/

h1 {
  font-size: 25px;
}
@media (min-width:576px) {
  h1 {
    font-size: 35px;
  }
}
@media (min-width:700px) {
  h1 {
    font-size: 45px;
  }
}
@media (min-width:1080px) {
  h1 {
    font-size: 70px;
  }
}

.main .dropbtn {
  font-size: 20px;
}
@media (min-width:576px) {
  .main .dropbtn {
    font-size: 25px;
  }
}
@media (min-width:700px) {
  .main .dropbtn {
    font-size: 35px;
  }
}
@media (min-width:1080px) {
  .main .dropbtn {
    font-size: 50px;
  }
}
/*End of Fluid Typography*/

/*Start of parallax*/
.parallax {
  background-image: url("photos/bridge.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*End of parallax*/

/*Start of info*/

.info {
  padding: 2%;
}

.info h2 {
  color: #B01C2E;
}

.infoBlock {
  max-width: 50%;
  float: left;
}
